/* CSS Document */
/* All comments go between the front slash and asterisk symbols */

.warning {
		background-color: #FBB8C4;
		padding:10px;
		border-radius:10px;
	}
.material-icons {
	color:red; 
	font-size:2em;
}
body {
	background-color:#A2DAFF;   /* background color */
	color: #000000;          /* text color for the entire page */
	font-size: 14px;
	font-family: Trebuchet MS, sans-serif;

}

h1, h2 { 
	text-align:center;     /* centers h1 and h2 content */
}

/* styles for the "wrapper" div, notice that "wrapper" is preceded by "#" */
#wrapper {
	width:900px;
	margin:0 auto;    /* centers wrapper */
}

/* styles for the "stepTitle" class, notice that "stepTitle" is preceded by a dot */
.stepTitle{
	padding:4px;
	text-align:center;
	font-size:16px;
	background-color:#FAFF83
 }

.stepContent{ 
	background-color: antiquewhite;
	padding:7px;
	display: flex;
	justify-content: center;
}

.stepDescription {
	width:55%;
	padding:5px;
}

.stepImage {
	width:40%;	
	padding:5px;
	text-align: center;
}
img { 
border-radius: 10px;
box-shadow: 0 4px 4px 0 gray, 0 6px 10px 0 gray;
}




