@charset "UTF-8";
/* CSS Document */

body {
	text-align: center;
	background-color: skyblue;  
}
a {
	padding: 15px;
margin: 3px;
	font-size: 125%;
	background-color:  FAFF83; 
	color:  FAFF83; 
}


a:hover {
	font-size:125%;
	background-color: cornsilk; 
	color: darkblue; 
}
